attr==0.3.2
ConfigParser==7.2.0
cryptography==46.0.7
datasets==4.8.4
docutils==0.18.1
docutils==0.18.1
filelock==3.28.0
HTMLParser==0.0.2
ipython==8.27.0
ipython==9.10.0
ipython==8.12.3
ipywidgets==7.8.1
jnius==1.1.0
keyring==24.3.1
numpy==1.17.2
pandas==3.0.2
peft==0.19.1
protobuf==4.25.3
pyarrow==23.0.1
pyarrow==21.0.0
pyarrow==16.1.0
pyOpenSSL==24.2.1
pyOpenSSL==26.0.0
python-dotenv==1.2.2
redis==7.4.0
scikit_learn==1.8.0
Sphinx==9.1.0
thread==2.0.6
torch==2.11.0
torch==1.13.1
torch==2.5.1
torch==2.7.0
torchvision==0.26.0
torchvision==0.4.0
torchvision==0.20.1
transformers==5.3.0
transformers==5.5.4
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
